body {
    background-image: url('https://lh6.googleusercontent.com/proxy/XTH_RmmM07HY0-bVixjMVIurwf8FIzULtVw_T9nns10NHv8_pi18M-giQaGm5-fVlFJ9RFYIPFlfuv--cmiu-ROyDF8KxUNsHuK-KU3fXjB1khE-qVoiu9cER_qrqxU9QIPSO_kB3Oep1Ro8WA');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: cursive;
    text-shadow: 2px 2px gray;
    color: aliceblue;
}

.top {
    color: rgb(0, 136, 255);
    background-color: rgba(0, 0, 0, 0.5);
    height: 40px;
    width: 90%;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    position: absolute; /* Fixed at the top */
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-family: cursive;
}

.info {
    background-color: rgba(0, 0, 0, 0.35); 
    height: 250px;
    width: 70%;
    text-align: center;
    padding: 20px; /* Padding inside the info container */
    border-radius: 20px;
    display: flex; /* Center image-container within info */
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Arrange content vertically */
    font-family: cursive;
}

.bund {
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.154);
    height: 15px;
    width: 30%;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    position: fixed; /* Position changed to fixed */
    bottom: 0; /* Fixed at the bottom */
    left: 50%;
    transform: translateX(-50%);
    font-family: cursive;
    text-decoration: none;
}
